services:
  backend:
    build: .
    container_name: ottobon-jobs-backend
    restart: always
    ports:
      - "8200:8200"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=8200
